//=====================================HORAIRE=====================================//
.mainhoraire{
    flex-direction: row;
    flex-wrap: wrap;
    width: 303px;
    margin: auto;
}

.jour{
    display: inline-block;
    padding: 10px;
    border: 2px white solid;
    border-radius: 8%;
}
//=====================================HORAIRE=====================================//
